.pie-página {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
    align-items: center;
}

@media screen and (max-width: 576px) {
    footer {
		font-size: 10px;
	}
}