.tabla {
    display: flex;
    justify-content: center;
    padding-bottom: 6em;
}

@media screen and (max-width: 576px) {
    h4 {
        font-size: 16px;
    }

    table {
        width: 25%;
        font-size: 10px;
    }
} 